<div class="main">
  <div class="header">
    <div class="tooltip">
      <ion-buttons slot="start">
        <ion-menu-button color="dark"></ion-menu-button>
      </ion-buttons>
      <div class="logo">
        <div class="img"></div>
      </div>
      <div class="profile" routerLink="profile">
        <img src="/assets/icon/user-pic.svg" />
      </div>
    </div>
  </div>
  <div class="contant">
    <ion-card>
      <ion-card-header class="contant_header">
        <ion-card-title class="contant_header_title">Card Title</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <div class="task-list">
          <div class="daily" *ngIf="TaskList['4']">
            <div class="header">
              Daily Task:-
            </div>
            <div class="details">
              {{TaskList['4'].details.display_extra[0].details}}
            </div>
          </div>
          <div class="weekly" *ngIf="TaskList['3']">
            <div class="header">
               Weekly Task:-
            </div>
            <div class="details">
              {{TaskList['3'].details.display_extra[0].details}}
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  
</div>
